<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerInfoReq</key>
	<dict>
		<key>serviceId</key>
		<integer>1</integer>
		<key>commandId</key>
		<integer>1</integer>
		<key>repCls</key>
		<string>ServerInfoRep</string>
		<key>hasErrMsg</key>
		<true/>
		<key>tag</key>
		<integer>101</integer>
		<key>hasRepData</key>
		<true/>
	</dict>
</dict>
</plist>
